* {
  margin: 0%;
  padding: 0%;
  /* overflow: hidden; */
}

hr {
  width: 10vw;
}

div.countdown-parent {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000002c;
  color: white;
  font-size: 3vh;
  backdrop-filter: blur(3px);
  z-index: 50;
}

div.countdown-parent div {
  background-color: #900000;
  padding: 2vh 3vh 2vh 3vh;
  border-radius: 1vh;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.279);
  border: 1px double white;
  width: 19vw;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 7px;
}
/* 
body::-webkit-scrollbar {
  width: 1px;
} */

body::-webkit-scrollbar-track {
  background: #ffc7c7;
}

body::-webkit-scrollbar-thumb {
  background: #900000;
  /* border-radius: 30vh; */
  margin: 1vh;
}

body::-webkit-scrollbar-thumb:hover {
background: #6a0101;
}