* {
    margin: 0;
    padding: 0;
}

body {
    overflow: visible;
}

div.dashboard-parent {
    height: 100vh;
}

.sidebar{
    color: white;
    height: 100%;
    background-color: #570303;
    /* width: 4vw; */
    padding: 5vh 0vh 0vh 0vh;
    position: fixed;
    top: 11.5vh;
    display: flex;
    flex-direction: column;
    background-color: #7c0c0c;
    gap: 5vh;
    align-items: center;
}

.sidebar i{
    font-size: 4vh;
    color: white;
}

section.main  {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 11vh;
}

section.main div.contentmain {
    width: 100%;
    margin: 0vh 6vh 0vh 10vh;
}

@media (max-width: 750px) {
    .sidebar {
      top: 9vh;
      width: 40px;
    }

}