@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

section#home {
    height: 30vh;
    user-select: none;
    margin-top: 10vh;
}

section#text {
    position: absolute;
    margin: 13vh 0vh 0vh 4vh;
    text-align: center;
    z-index: 3;
}

section#text h1 {
    font-size: 10vh;
    text-align: center;
    font-family: 'Lexend';
    margin: 4vh 3vh 3vh 0vh;
    width: 50vw;
    height: 33vh;
}

section#text h4 {
    font-family: 'Mukta';
    font-size: 5vh;
    color: #900000;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: center;
}

section#pic {
    background-image: url(../assets/home.png);
    background-size: cover;
    animation: fadeInAnimation 1.5s ease-in forwards;
    height: 100vh;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glow {
    0% {
      text-shadow: 0 0 100px #FF0000, 0 0 70px #7e1717, 0 0 50px #981515;
    }
    100% {
      text-shadow: 0 0 50px #FFCCCC, 0 0 40px #FF9999, 0 0 30px #FF6666;
    }
  }

section#text button {
    background-color: #900000;
    color: white;
    font-size: 2.7vh;
    padding: 1.6vh 3vh 1.7vh 3vh;
    overflow: hidden;
    border-radius: 0.5vh;
    z-index: 1;
    font-family: 'Numans';
    position: relative;
    margin: 5vh;
    box-shadow: 1px 1px 10px #90000084;
}

section#text button:active {
    transform:translateY(10px);
    transition: 0.2s ease;
}

section#text button:hover {
    border: 1px solid #900000;
    transition-duration: 0.5s;
    color: #900000;
}

section#text button:after {
    content: "";
    position: absolute;
    left: 30%;
    background-color: #ffffff;
    top: 200%;
    transform: translateX(-55%);
    width: 200%;
    border-radius: 200%;
    transition-duration: 0.7s;
    height: 200%;
    z-index: -1;
}
  
section#text button:hover:after {
    top: -45%;
}
  
@media (max-width: 750px) {
    section#text h1 {
        font-size: 8.5vh;
        width: 100%;
        height: 50vh;
        padding: 2vh;
    }
    section#text {
        margin-top: 6vh;
    }
    section#text h4 {
        font-size: 4vh;
    }
}