body {
    overflow-y: visible;
    overflow-x: hidden;
}

div.main-child {
    height: fit-content;
    /* width: 100%; */
}

div#makepost {
    width: 60vw;
    margin: 10vh 0vh 10vh 0vh;
    height: fit-content;
}

div#makepost form {
    border: 1px solid black;
    padding: 4vh 3vh 4vh 3vh;
    border-radius: 1vh;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}

div#makepost form h3 {
    font-size: 3vh;
}

div#makepost form h4 {
    font-size: 3.1vh;
    margin-top: 1vh;
    margin: 2vh 0vh 2vh 0vh;
}

div#makepost form input, div#makepost form textarea {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.338);
    border-radius: 1vh;
    padding: 1vh 2vh 1vh 2vh;
    /* margin: 2vh 0vh 2vh 0vh; */
}

.publish:disabled {
    cursor: not-allowed; 
    opacity: 0.7; 
}

.publish {
    overflow: hidden;
    z-index: 1;
    font-family: 'Numans';
    position: relative;
    cursor: pointer;
    background-color: #900000;
    box-shadow: 2px 2px 4px #0000004a;
    border-radius: 1vh;
    border: none;
    font-size: 2vh;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    padding: 2vh 3vh 2vh 3vh;
    transition-duration: 0.5s;
    margin: 5vh 0vh 2vh 0vh;
}

/* #goback-toview {
    position: relative;
    left: 70vh;
} */

.publish:active {
    transform:translateY(10px);
    transition: 0.2s ease;
}

.publish:hover {
    border: 1px solid #900000;
    transition-duration: 0.5s;
    color: #900000;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.422);
    transform: translateY(-4px);
}

.publish:after {
    content: "";
    position: absolute;
    left: 30%;
    background-color: #ffffff;
    top: 200%;
    transform: translateX(-55%);
    width: 200%;
    border-radius: 200%;
    transition-duration: 0.7s;
    height: 200%;
    z-index: -1;
}
  
.publish:hover:after {
    top: -45%;
}

div#eachpost {
    border: 1px solid rgba(0, 0, 0, 0.36);
    padding: 4vh 6vh 4vh 6vh;
    border-radius: 2vh;
    margin: 5vh 2vh 5vh 2vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.338);
    display: flex;
    flex-direction: column;
    width: 60vw;
}

div#eachpost h3 {
    font-size: 2.5vh;
    font-family: 'Numans';
    margin: 1vh 0vh 1vh 0vh;
}

div#eachpost h3.user {
    font-size: 4vh;
}

div#eachpost h3 span {
    font-family: 'Assistant';
}

div#eachpost img {
    height: 42vh;
    width: 42vh;
    border-radius: 2vh;
}

.disablearrow {
    cursor: not-allowed;
}

.workingarrow {
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 7px;
}
/* 
body::-webkit-scrollbar {
    width: 1px;
} */

body::-webkit-scrollbar-track {
    background: #ffc7c7;
}

body::-webkit-scrollbar-thumb {
    background: #900000;
    border-radius: 30vh;
    margin: 1vh;
}
  
body::-webkit-scrollbar-thumb:hover {
  background: #6a0101;
}

#select-box {
    width: 30vw;
    /* border: 2px solid black; */
    /* padding: 4vh; */
    /* height: 4vh; */
}

button.upload-image-button {
    font-size: 2.3vh;
}

button.upload-image-button:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.581);
    transition-duration: 0.5s;
    transform: translateY(-3px);
}


button.upload-image-button:not(:hover) {
    transition-duration: 0.8s;
}

span#last-buttons button {
    background-color: #900000;
    color: white;
    padding: 1vh 2vh 1vh 2vh;
    height: fit-content;
    font-size: 2.5vh;
    border-radius: 0.5vh;
}

span#last-buttons button img {
    height: 3vh;
    width: 3vh;
    border-radius: 0%;
}

span#last-buttons button:hover {
    box-shadow: 4px 4px #9000004c;
    transition-duration: 0.6s;
    transform: translate3d(-3px, -3px, 4px);
}

span#last-buttons button:not(:hover) {
    transition-duration: 0.6s;
}

@keyframes like {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

span#last-buttons i:active {
  animation: like 0.1s 1 ease;
}