div#boxes {
    display: flex;
    
}

div.dash-box {
    padding: 3vh;
    height: 40vh;
    width: 40vh;
    margin: 5vh;
    border-radius: 2vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px;
}