@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

h1.one-myticket {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #900000;
  font-size: 2rem;
  margin: 5vh 0vh 3vh 0vh;
}

div.two-myticket button {
  padding: 1vh 2vh 1vh 2vh;
  outline: none;
  transition: ease;
  transition-duration: 0.6s;
  border: 1px solid #730101;
}

div.two-myticket button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.305);
}

div.two-myticket button.option-active {
  background-color: #900000;
  color: white;
  border: 1px solid #860000;
}

div.two-myticket button:active {
  background-color: #90000059;
  transition-duration: 0.5s;
}

div.my-eachpost {
  border: 1px solid rgba(0, 0, 0, 0.252);
  margin: 4vh 0vh 0vh 1vh;
  padding: 2vh;
}

div.my-eachpost button{
  background-color: #900000;
  color: white;
  padding: 1.5vh;
  margin-top: 2vh;
  transition-duration: 0.5s;
}

div.my-eachpost button.admindis:hover {
  color: rgb(255, 255, 255);
  background-color: #7301019b;
  cursor: not-allowed;
}

div.click-to-view-entirepost {
  font-family: 'Dosis';
  font-variant: small-caps;
  font-weight: 700;
  font-size: 1.4rem;
}

div.click-to-view-entirepost:hover {
  text-decoration: underline;
  cursor: pointer;
}

.popup-bg-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes slide-down {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.popup-content {
  background: #fff;
  overflow-y: scroll;
  padding: 20px 0px 20px 0px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 80vh;
  width: 70vw;
  animation: slide-down 0.5s ease-out;
  margin-top: 10vh;
}

.popup-bg-view ::-webkit-scrollbar {
  background-color: #73010152;
  width: 8px;
}

.popup-bg-view ::-webkit-scrollbar-thumb {
  background-color: #730101;
}

div.admin-note {
  font-weight: 900;
  font-family: "Numans";
  font-size: 1.3rem;
}